*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    color: hsl(0, 5%, 23%);
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    min-width: 500px;
}

header{
    text-align: center;
    width: 50%;
    margin: 25px auto;
}

.title{
    color: grey;
}

.container{
    margin:auto;
    padding: 30px;
}

.cards{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    position: relative;
    max-width: 300px;
    height: 250px;
    border-radius: 3px;
    box-shadow: 2px 3px 5px #a8a6ac;
    margin: 10px;
}

.card-1{
    border-top: 3px solid hsl(180, 62%, 55%);
    align-self: center;
}

.card-2{
    border-top: 3px solid hsl(0, 78%, 62%);
    
}

.card-3{
    border-top: 3px solid hsl(34, 97%, 64%);
}

.card-4{
    border-top:3px solid hsl(212, 86%, 64%);
    align-self: center;
}


.info{
    margin: 10px;
    position: relative;
}

#image{
    position: absolute;
    bottom: -5;
    right: 0;
}

@media only screen and (max-width:968px){
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}